<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
          <ion-view class="has-header padding" ng-controller="imageController" >

              <ion-content class='content' style="background-image: url({{images}});background-repeat:no-repeat;background-size:100% 100vh;">
              
              <!-- ;background-repeat:no-repeat;background-size:100% 100vh;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg); -->

                <button class="button button-energized" ng-click="addImage()">
                    Add image
                </button>


                <ul>
                  <li ng-repeat="(item, score) in predictions">
                      <h3 style="color: red">{{item}} : {{score}}</h3>
                  </li>
                </ul>
                

              </ion-content>
          </ion-view>
  </body>
</html>
